/* http://colorhunt.co/c/13136 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	max-width: 100%;
	max-height: 100%;
}

#nav ul{
	display: flex;
	flex-direction: row;
}

#nav ul li {
	width: 50%;
	padding: 1em;
	list-style-type: none;
	text-align: center;
	color: black;
	border-bottom: 2px solid black;
}

#nav ul li:first-of-type{
	border-right: 1px solid black;
}

#nav ul li:nth-of-type(2){
	border-left: 1px solid black;
}

#nav ul li:hover {
	background-color: #A4D792; 
}

#nav ul li a {
	color: #000;
	text-decoration: none;
	font-size: 1.5;
	font-family: sans-serif;
}

/* main */
main {
	width: 100vh;
}
/* loader */ 
.loader{
	display: none;
}

.loader-active{
	display: block;
	width: ;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

main > section {
	display: none;
}

#startscreen {
	width: 100%;
	height: 80vh;
	background-color: #424141;
}

#photo-feed {
	width: 100%;
	height: 80vh;
	/*background-color: grey*/
}


.photoItem {
	width: 25em;
	display: inline-block;
}
.photoItem img {
	max-width: 100%;
}

.photoItem span {
	display: block;
	max-width: 100%;
}

.photo-detail-view-video {
	display: none;
}

.photo-detail-view-img {
	display: none;
}


.active {
	display: block;
}

